<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{title_page}} - Trace Pack</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="{% static 'images/trace-pack.ico' %}" rel="icon">
    <link href="{% static 'images/trace-pack.ico' %}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="{% static 'niceadmin/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'niceadmin/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/icofont/css/icofont.min.css' %}">
    <link href="{% static 'niceadmin/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'niceadmin/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'niceadmin/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'niceadmin/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'niceadmin/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
    <!-- Template Main CSS File -->
    <link href="{% static 'niceadmin/assets/css/style.css' %}" rel="stylesheet">
    <!-- =======================================================
      * Template Name: NiceAdmin
      * Updated: Mar 09 2023 with Bootstrap v5.2.3
      * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      ======================================================== -->
  </head>
  <body>
    {% if title_page == 'Register Account' or title_page == 'Sign In' %}
      {% block login_register %}

      {% endblock %}
    {% elif title_page == 'Error 404' or title_page == 'Error 403' or title_page == 'Error 500'%}
      {% block error %}

      {% endblock %}
    {% elif title_page == 'Tracking demo' %}
      {% block tracking_demo %}

      {% endblock %}
    {% else %}
      {% include 'navbar.html' %}
      {% include 'sidebar.html' %}


      <!-- Adds child template -->
      {% block content %}

      {% endblock %}
      <!-- ======= Footer ======= -->
      <footer id="footer" class="footer">
        <div class="copyright">
          &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </footer>
      <!-- End Footer -->
    {% endif %}

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Custom JS Files -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <!-- Vendor JS Files -->
    <script src="{% static 'niceadmin/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'niceadmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'niceadmin/assets/vendor/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'niceadmin/assets/vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'niceadmin/assets/vendor/quill/quill.min.js' %}"></script>
    <script src="{% static 'niceadmin/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'niceadmin/assets/vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'niceadmin/assets/vendor/php-email-form/validate.js' %}"></script>
    <!-- Bootstrap Select Files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'niceadmin/assets/js/main.js' %}"></script>
    <!-- Custom Template JS File -->
    <script src="{% static 'assets/custom/validation-form.js' %}"></script>
  </body>
</html>