{% extends 'main.html' %}
{% load static %}
{% block content %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>{{title_page}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item">Couriers</li>
          <li class="breadcrumb-item active">{{title_page}}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-lg-10">
          <div class="card">
            <div class="card-body overflow-auto">
              <h5 class="card-title">{{title_page}}</h5>
              <!-- <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable</p> -->
              <a href="{{courier.website}}" class="text-primary" target="_blank">Visit</a>
              <a href="{% url 'courier-package-involved' courier.name %}" class="text-primary">{{courier.package_count}}</a>
              <!-- Table with stripped rows -->
              <table class="table table-hover datatable">
                <thead>
                  <tr>
                    <th scope="col">Tracking Number</th>
                    <th scope="col">Title</th>
                    <th scope="col">Action</th>
                    <th scope="col" data-type="date" data-format="MYSQL">Date Added</th>
                    <th scope="col">Last Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tracking_number in tracking_number_list %}
                  <tr>
                    <td scope="row">{{tracking_number.tracking_number}}</td>
                    <td><a href="{% url 'overview' tracking_number.id %}" class="text-primary">{{tracking_number.title}}</a></td>
                    <td>{{tracking_number.delivery_type}}</td>
                    <td>{{tracking_number.created | date:"Y-m-d"}} {{tracking_number.created | time:"H:i"}}</td>
                    {% if tracking_number.status_milestone == 'pending' %}
                      <td><span class="badge bg-warning">Pending</span></td>
                    {% elif tracking_number.status_milestone == 'info_received' %}
                      <td><span class="badge bg-info">Info. Received</span></td>
                    {% elif tracking_number.status_milestone == 'in_transit' %}
                      <td><span class="badge bg-warning">In transit</span></td>
                    {% elif tracking_number.status_milestone == 'out_for_delivery' %}
                      <td><span class="badge bg-primary">Out for Delivery</span></td>
                    {% elif tracking_number.status_milestone == 'failed_attempt' %}
                      <td><span class="badge bg-secondary">Failed Attempt</span></td>
                    {% elif tracking_number.status_milestone == 'available_for_pickup' %}
                      <td><span class="badge bg-primary">Pick Up</span></td>
                    {% elif tracking_number.status_milestone == 'delivered' %}
                      <td><span class="badge bg-success">Delivered</span></td>
                    {% elif tracking_number.status_milestone == 'exception' %}
                      <td><span class="badge bg-secondary">Exception</span></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}