{% extends 'main.html' %}
{% load static %}
{% block login_register %} 
  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="{% url 'index' %}" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'images\trace-pack-web-icon.png' %}" alt="Trace Pack">
                  <span class="d-none d-lg-block">Trace Pack</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>
                  {% if messages %}
                    {% for message in messages %}
                      {% if 'error' in message.tags %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          {{message}}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                      {% elif 'success' in message.tags %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  <form method="POST" action="" class="row g-3">
                    {% csrf_token %}
                    
                    <div class="col-12">
                      <label for="email" class="form-label">Your Email</label>
                      {{form.email}}
                      <div class="valid-feedback" id="showValidEmail">Valid.</div>
                      <div class="invalid-feedback" id="showInvalidEmail">Please enter a valid Email adddress.</div>
                    </div>

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        {{form.username}}
                        <div class="valid-feedback" id="showValidUsername">Valid.</div>
                        <div class="invalid-feedback" id="showInvalidUsername">Must be at least 6 alphanumeric characters.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      {{form.password1}}
                      <div class="valid-feedback" id="showValidPassword">Valid.</div>
                      <div class="invalid-feedback" id="showInvalidPassword">Enter at least 8 characters that contain at least one number and one uppercase and lowercase letter.</div>
                    </div>

                    <div class="col-12">
                      <label for="repeatPassword" class="form-label">Repeat password</label>
                      {{form.password2}}
                      <div class="valid-feedback" id="showValidRepeatPassword">Valid.</div>
                      <div class="invalid-feedback" id="showInvalidRepeatPassword">Repeat password.</div>
                    </div>
                    <div class="col-12">
                        <input name="check-password" type="checkbox" value="" onclick="checkPassword()" id="check-password">
                        <label for="checkPassword">Password do not match.</label>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit" id="buttonSubmit" disabled>Create Account</button>
                    </div>
                  </form>
                    <div class="col-12 mt-2">
                      <p class="small mb-0">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
                    </div>
                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main>
{% endblock %}