{% extends 'main.html' %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Overview</h1>
      <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'tracking-list' %}">Tracking Numbers</a></li>
            <li class="breadcrumb-item">{{tracking_number.tracking_number}} - {{tracking_number.title | truncatechars:30}}</li>
            <li class="breadcrumb-item active">{{title_page}}</li> 
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-4 ms-auto">
    
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title p-0 pt-4">{{tracking_number.tracking_number}}</h5>
                    <h5 class="card-title p-0">{{tracking_number.title}}</h5>     
                    {% if tracking_number.estimated_delivery_date is not None %}
                    <P>Estimated delivery date: {{tracking_number.estimated_delivery_date}}</P>
                    {% endif %}

                    {% if tracking_number.origin_country_code is not None %}
                    <P>Origin: {{tracking_number.origin_country_code}}</P>
                    {% endif %}

                    {% if tracking_number.destination_country_code is not None %}
                    <P>Destination: {{tracking_number.destination_country_code}}</P>
                    {% endif %}

                    {% if tracking_number.status_milestone == 'pending' %}
                    <p>Latest status: Pending</p>
                    {% elif tracking_number.status_milestone == 'info_received' %}
                    <p>Latest status: Info. Received</p>
                    {% elif tracking_number.status_milestone == 'in_transit' %}
                    <p>Latest status: In transit</p>
                    {% elif tracking_number.status_milestone == 'out_for_delivery' %}
                    <p>Latest status: Out for Delivery</p>
                    {% elif tracking_number.status_milestone == 'failed_attempt' %}
                    <p>Latest status: Failed Attempt</p>
                    {% elif tracking_number.status_milestone == 'available_for_pickup' %}
                    <p>Latest status: Pick Up</p>
                    {% elif tracking_number.status_milestone == 'delivered' %}
                    <p>Latest status: Delivered</p>
                    {% elif tracking_number.status_milestone == 'exception' %}
                    <p>Latest status: Exception</p>
                    {% endif %}
                    <P>Couriers Involved:
                        {% for courier in tracking_number.couriers_involved.all %}
                            <li>{{courier.name}}</li>
                        {% endfor %}
                    </P>
                    <a class="btn btn-primary m-1" href="{% url 'update-tracking' tracking_number.id %}" role="Edit" title="Edit">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#trackingModal{{tracking_number.id}}" title="Remove">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
              </div>
    
            </div>
    
            <div class="col-lg-4 me-auto">
    
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Timestamps</h5>
                    {% if tracking_statistics.info_received_date_time is not None %}
                        <P>Information Received: {{tracking_statistics.info_received_date_time | date:"d/m/Y"}}, {{tracking_statistics.info_received_date_time | time:"h:i A"}}</P>
                    {% endif %}

                    {% if tracking_statistics.in_transit_date_time is not None %}
                        <P>In Transit: {{tracking_statistics.in_transit_date_time | date:"d/m/Y"}}, {{tracking_statistics.in_transit_date_time | time:"h:i A"}}</P>
                    {% endif %}

                    {% if tracking_statistics.outFor_delivery_date_time is not None %}
                        <P>Out for Delivery: {{tracking_statistics.outFor_delivery_date_time | date:"d/m/Y"}}, {{tracking_statistics.outFor_delivery_date_time | time:"h:i A"}}</P>
                    {% endif %}

                    {% if tracking_statistics.failed_attempt_date_time is not None %}
                        <P>Failed Attempt: {{tracking_statistics.failed_attempt_date_time | date:"d/m/Y"}}, {{tracking_statistics.failed_attempt_date_time | time:"h:i A"}}</P>
                    {% endif %}

                    {% if tracking_statistics.available_for_pickup_date_time is not None %}
                        <P>Available For Pick Up: {{tracking_statistics.available_for_pickup_date_time | date:"d/m/Y"}}, {{tracking_statistics.available_for_pickup_date_time | time:"h:i A"}}</P>
                    {% endif %}

                    {% if tracking_statistics.exception_date_time is not None %}
                        <P>Exception: {{tracking_statistics.exception_date_time | date:"d/m/Y"}}, {{tracking_statistics.exception_date_time | time:"h:i A"}}</P>
                    {% endif %}

                    {% if tracking_statistics.delivered_date_time is not None %}
                        <P>Delivered: {{tracking_statistics.delivered_date_time | date:"d/m/Y"}}, {{tracking_statistics.delivered_date_time | time:"h:i A"}}</P>
                    {% endif %}
                </div>
              </div>
    
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card overflow-auto col-lg-8 mx-auto">
                    <div class="card-body">
                        <h5 class="card-title">Updates</h5>                        
                        <!-- Modal -->
                        <div class="modal fade" id="trackingModal{{tracking_number.id}}" tabindex="-1" aria-labelledby="trackingModalLabel{{tracking_number.id}}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel{{tracking_number.id}}">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" >
                                        <form action="{% url 'delete-tracking' tracking_number.id %}" method="post">
                                            {% csrf_token %}
                                            <p>Are you want to remove "{{tracking_number.tracking_number}} - {{tracking_number.title}}"?</p>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Table with hoverable rows -->
                        <table class="table table-hover" id="accordion">
                            <thead>
                            <tr>
                                <th scope="col">Courier Involved</th>
                                <th scope="col">Event Tracking</th>
                                <th scope="col" data-type="date" data-format="MYSQL">Date</th>
                                <th scope="col">Status</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for state in status %}
                                <tr data-bs-toggle="collapse" data-bs-target="#collapse{{state.id}}" aria-expanded="true" aria-controls="collapse{{state.id}}">
                                    <td>{{state.courier}}</td>
                                    <td>{{state.event_tracking_number}}</td>
                                    <td>{{state.occurrence_date_time | date:"Y-m-d"}} {{state.occurrence_date_time | time:"H:i:s"}}</td>
                                    {% if state.status_milestone == 'pending' %}
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    {% elif state.status_milestone == 'info_received' %}
                                    <td><span class="badge bg-info">Info. Received</span></td>
                                    {% elif state.status_milestone == 'in_transit' %}
                                    <td><span class="badge bg-warning">In transit</span></td>
                                    {% elif state.status_milestone == 'out_for_delivery' %}
                                    <td><span class="badge bg-primary">Out for Delivery</span></td>
                                    {% elif state.status_milestone == 'failed_attempt' %}
                                    <td><span class="badge bg-secondary">Failed Attempt</span></td>
                                    {% elif state.status_milestone == 'available_for_pickup' %}
                                    <td><span class="badge bg-primary">Pick Up</span></td>
                                    {% elif state.status_milestone == 'delivered' %}
                                    <td><span class="badge bg-success">Delivered</span></td>
                                    {% elif state.status_milestone == 'exception' %}
                                    <td><span class="badge bg-secondary">Exception</span></td>
                                    {% endif %}
                                    <td>
                                    <i class="bi bi-arrow-down" aria-hidden="false"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" id="collapse{{state.id}}" class="collapse" data-bs-parent="#accordion">
                                        <p class="mx-auto p-2 col-10 border border-black">{{state.status}}</p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}